.page{
  height:100vh;
  position: fixed;
  width: 100%;
  top:0;
  transition: transform 0.5s ease-in-out;
}
.page-enter{
  transform: translateY(-100%);
}
.page-enter-active{
  transform: translateX(0);
}
.page-exit-active{
  transform: translateY(100%);
}

.page-enter.up{
  transform: translateY(100%);
}
.page-enter-active.up{
  transform: translateX(0);
}
.page-exit-active.up{
  transform: translateY(-100%);
}

.page-enter.down{
  transform: translateY(-100%);
}
.page-enter-active.down{
  transform: translateX(0);
}
.page-exit-active.down{
  transform: translateY(100%);
}